/* * {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: rgb(1, 1, 34);
}

body {
  font-family: Helvetica;
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
} */