@font-face {
  font-family: NotHuman;
  src: url(NotHuman-Regular.ttf);
}

body, html {
  padding: 0;
  margin: 0;
  background-color:rgb(1,1,34);
  overflow-y: hidden;
  font-family: Helvetica;
}

.navigation-container {
  position: fixed;
  right: 20px;
  top: 10px;
}

.navigation-container a {
  text-decoration: none;
}

.fullscreen-image-container {
  width: 100vw;
  height: 100vh;
}

.image-container {
  height: 80vh;
  margin-top: 10vh;
}

.fullscreen-image-cover {
  object-fit: cover;
  object-position: center;
  width:100vw;
  height:100vh;
}

.fullscreen-image-contain {
  object-fit: contain;
  object-position: center;
  max-width: 100vw;
  height:100vh;
}

.image {
  height: 100%;
  margin-left: 80px;
}

.text-section {
  height: calc(80vh - 40px);
  margin-top: 10vh;
  min-width: 400px;
  width: 50vw;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  /* border: 1pt solid white; */
  color: white;
  margin-left: 80px;
}